<div class="container mx-auto my-8 px-4">
  <div class="max-w-3xl mx-auto">
    <div class="flex justify-between items-center mb-4">
      <h1 class="h3"><%= link_to "Weightunits", weightunits_path %> > Weightunit #<%= @weightunit.id %></h1>
      <%= link_to t("edit"), edit_weightunit_path(@weightunit), class: "btn btn-link" %>
    </div>

    <div class="bg-white rounded shadow p-8">
            <div class="mb-4">
        <h5>Unit</h5>
        <%= @weightunit.unit %>
      </div>
          </div>
  </div>
</div>
